.paravoce-container {
    position: relative;
    width: 100%;
    min-height: 250vh;
    isolation: isolate;
}

.paravoce-image {
    position: absolute;
    top: -1.5%;
    width: 100%;
    height: 250vh;
    background-image: url("../IMAGES/fundoSalaCinema.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    pointer-events: none;
}

.paravoce-content {
    position: relative;
    z-index: 0;
}