.biblioteca-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-image: url("../IMAGES/fundoSalaCinema.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
}

.biblioteca-content {
    position: relative;
    z-index: 5;
}

.tituloBiblioteca {
    color: #9A15D8;
    margin-left: 2.5%;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 21%;
    border-radius: 80px;
    box-shadow: -8px 0 12px -2px #9A15D8;
}

.generosPreferidos .titulo {
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    width: 14%;
    border-radius: 80px;
    box-shadow: -8px 0 12px -2px #9A15D8;
}

.generosPreferidos p {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    color: #ffffff;
}

.generos-preferidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60%;
    margin-left: 18%;
    margin-top: 2%;
}

.generos-preferidos-chip {
    font-size: 15px;
    padding: 4px 8px;
    border-radius: 999px;
    background: #000000;
    border: 2px solid #9A15D8;
    color: white;
}