.biblioteca-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-image: url("../../IMAGES/fundoSalaCinema.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
}

.biblioteca-content {
    position: relative;
    z-index: 5;
}

.tituloBiblioteca {
    color: #9A15D8;
    background: linear-gradient(135deg,
            rgba(0, 0, 0, 0.72),
            rgba(25, 0, 35, 0.9));
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    padding: 10px 30px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* animação de brilho */
    box-shadow: 0 0 12px -2px #9A15D8;
    animation: pulseGlow 2.5s infinite ease-in-out;

    /* animação de entrada */
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeSlide 1s forwards ease-out;
}


.generosPreferidos .titulo {
    margin-top: 3%;
    margin-left: 3%;
    display: inline-flex;
    width: fit-content;
    border-radius: 80px;
    box-shadow: -8px 0 12px -2px #9A15D8;
    padding: 4px 10px;
    border: 2px solid #9a15d8;
}

.generosPreferidos p {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    color: #ffffff;
}

.generos-preferidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60%;
    margin-left: 18%;
    margin-top: 2%;
}

.generos-preferidos-chip {
    font-size: 15px;
    padding: 4px 8px;
    border-radius: 999px;
    background: #000000;
    border: 2px solid #9A15D8;
    color: white;
}