.home-container {
    position: relative;
    width: 100%;
    min-height: 260vh;
    isolation: isolate;
}

.home-image {
    position: absolute;
    top: -1.5%;
    width: 100%;
    height: 260vh;
    background-image: url("../IMAGES/fundoSalaCinema.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    pointer-events: none;
}

.home-content {
    position: relative;
    z-index: 0;
}

/*CARROSEL PRINCIPAL ---------------------------------------------------------------------------------------------*/
.carrousel-container {
    margin-top: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.72);
}

.carrousel-container .slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.72);
    border-radius: 80px;
    padding: 30px;
    gap: 30px;
    box-shadow: -8px 0 12px -2px #9A15D8;
}

.carrousel-container .text-block {
    flex: 1;
    color: #ffffff;
}

.carrousel-container .text-block h2 {
    color: #9A15D8;
    margin-bottom: 12px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.carrousel-container .text-block p {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
}

.carrousel-container .slide-image {
    width: 45%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.carrousel-container .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
    padding: 10px;
    outline: none;
}

.carrousel-container .arrow.left {
    left: 0;
    transform: translate(200%, -50%);
}

.carrousel-container .arrow.right {
    right: 0;
    transform: translate(-200%, -50%);
}

.carrousel-container .arrow:hover {
    color: #9A15D8;
}

/*CARROSEL OBRAS*/
.carrousel-obrasDesta .titulo {
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    width: 14%;
    border-radius: 80px;
    box-shadow: -8px 0 12px -2px #9A15D8;
}

.carrousel-obrasDesta p {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    color: #ffffff;
}

.slides-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 0 20px;
}

.card-obra {
    background: rgba(0, 0, 0, 0.72);
    border-radius: 15%;
    padding: 10px;
    text-align: center;
    color: white;
    box-shadow: 0px -10px 12px -4px #9A15D8;
    height: 750px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 12px;
}

.card-obra>div:nth-child(2) {
    height: 70px;
}

.card-obra>div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.slide-imageObras {
    margin-top: 5%;
    width: 70%;
    height: 400px;
    object-fit: cover;
    border-radius: 15%;
}

.title-obra {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 42px;
    line-height: 21px;
}


.container-carrousel-obrasDesta {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    width: 95%;
    margin-left: 2.5%;
}

.container-carrousel-obrasDesta .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: clamp(24px, 4vw, 48px);
    color: white;
    cursor: pointer;
    z-index: 2;
    outline: none;
}

.container-carrousel-obrasDesta .arrow.left {
    left: 0;
    transform: translate(-60%, -50%);
}

.container-carrousel-obrasDesta .arrow.right {
    right: 0;
    transform: translate(60%, -50%);
}

.container-carrousel-obrasDesta .arrow:hover {
    color: #9A15D8;
}

.container-carrousel-obrasDesta .icon-btn {
    background-color: #000000;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin-left: 30%;
    margin-top: 10px;
    box-shadow: 1px 1px 10px 1px #d8c415ff;
    width: 40%;
}

.sinopse-btn:hover {
    background-color: #d8c415ff;
}

.marcar-btn:hover {
    background-color: #4cd815;
}

.desmarcar-btn:hover {
    background-color: #9A15D8;
}


.container-carrousel-obrasDesta .icon {
    color: white;
    font-size: 20px;
}

/* responsivo */
@media (max-width: 1024px) {
    .slides-row {
        grid-template-columns: repeat(2, 1fr);
        /* 2 por vez */
    }
}

@media (max-width: 600px) {
    .slides-row {
        grid-template-columns: 1fr;
        /* 1 por vez */
    }

    .slide-imageObras {
        height: 180px;
    }
}

/*CARROSEL CELEBRIDADES---------------------------------------------------------------------------------------------*/
.carrousel-celeDesta .titulo {
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    width: 16%;
    border-radius: 80px;
    box-shadow: -8px 0 12px -2px #9A15D8;
}

.carrousel-celeDesta p {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    color: #ffffff;
}

.container-carrousel-celeDesta {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 5%;
}

.slides-grid-celeDesta {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 18px;
    padding: 0 20px;
}

.card-celeDesta {
    background-color: rgba(0, 0, 0, 0.72);
    border-radius: 14px;
    padding: 12px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    height: 200px;
}

.foto-wrapper {
    width: 120px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-fallback {
    width: 120px;
    height: 150px;
    border-radius: 40%;
    background: #000;
    border: 2px solid #9A15D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fallback-icon {
    font-size: 50px;
    color: white;
}

.fallback-text {
    margin-top: 5px;
    color: white;
    font-size: 14px;
}

.slide-imageceleDesta {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 40%;
    flex-shrink: 0;
}

.info-celeDesta {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.title-celeDesta {
    font-size: 17px;
    font-weight: 700;
}


.generos-celeDesta {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    max-height: 118px;
    overflow: hidden;
    position: relative;
}

.genero-chip {
    font-size: 15px;
    padding: 4px 8px;
    border-radius: 999px;
    background: #000000;
    border: 2px solid #9A15D8;
    color: white;
}

.container-carrousel-celeDesta .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: clamp(24px, 4vw, 48px);
    color: white;
    z-index: 2;
    outline: none;
}

.container-carrousel-celeDesta .arrow.left {
    left: 0;
    transform: translate(-80%, -50%);
}

.container-carrousel-celeDesta .arrow.right {
    right: 0;
    transform: translate(70%, -50%);
}

.container-carrousel-celeDesta .arrow:hover {
    color: #9A15D8;
}

.container-carrousel-celeDesta .icon-btn {
    background-color: #000000;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.container-carrousel-celeDesta .icon-btn:hover {
    background-color: #6c6a6d;
}

.container-carrousel-celeDesta .icon {
    font-size: 30px;
}

@media (max-width: 700px) {
    .slides-grid-cele {
        grid-template-rows: auto;
        grid-auto-flow: row;
        /* no mobile fica normal */
        grid-template-columns: 1fr;
    }

    .card-cele {
        flex-direction: row;
    }
}

/*CARROSEL DIRETORES ---------------------------------------------------------------------------------------------*/
.carrousel-diretDesta .titulo {
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    width: 16%;
    border-radius: 80px;
    box-shadow: -8px 0 12px -2px #9A15D8;

}

.carrousel-diretDesta p {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    color: #ffffff;
}

.container-carrousel-diretDesta {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 5%;
}

.slides-grid-diretDesta {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 18px;
    padding: 0 50px;
}

.card-diretDesta {
    background-color: rgba(0, 0, 0, 0.72);
    ;
    border-radius: 14px;
    padding: 12px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.slide-imagediretDesta {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 40%;
    flex-shrink: 0;
}

.info-diretDesta {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.title-diretDesta {
    font-size: 17px;
    font-weight: 700;
}

.container-carrousel-diretDesta .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: clamp(24px, 4vw, 48px);
    color: white;
    z-index: 2;
    outline: none;
}

.container-carrousel-diretDesta .arrow.left {
    left: 0;
    transform: translate(-50%, -50%);
}

.container-carrousel-diretDesta .arrow.right {
    right: 0;
    transform: translate(50%, -50%);
}

.container-carrousel-diretDesta .arrow:hover {
    color: #9A15D8;
}

.container-carrousel-diretDesta .icon-btn {
    background-color: #000000;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.container-carrousel-diretDesta .icon-btn:hover {
    background-color: #6c6a6d;
}

.container-carrousel-diretDesta .icon {
    font-size: 30px;
}

@media (max-width: 700px) {
    .slides-grid-diretDesta {
        grid-template-rows: auto;
        grid-auto-flow: row;
        /* no mobile fica normal */
        grid-template-columns: 1fr;
    }

    .card-diretDesta {
        flex-direction: row;
    }
}