.paravoce-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-image: url("../../IMAGES/fundoSalaCinema.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
}

.paravoce-content {
    position: relative;
    z-index: 5;
}

.tituloParaVoce {
    color: #9A15D8;
    background: linear-gradient(135deg,
            rgba(0, 0, 0, 0.72),
            rgba(25, 0, 35, 0.9));
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    padding: 10px 30px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* animação de brilho */
    box-shadow: 0 0 12px -2px #9A15D8;
    animation: pulseGlow 2.5s infinite ease-in-out;

    /* animação de entrada */
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeSlide 1s forwards ease-out;
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px -2px #9A15D8;
    }

    50% {
        box-shadow: 0 0 20px 2px #d36dff;
    }

    100% {
        box-shadow: 0 0 10px -2px #9A15D8;
    }
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.paravoce-content .titulo {
    display: inline-flex;
    width: fit-content;
    margin-top: 3%;
    margin-left: 3%;
    padding: 4px 10px;
    border-radius: 80px;
    box-shadow: -8px 0 12px -2px #9A15D8;
}